<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.osoc.oncera">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CrearItinerarioActivity"></activity>
        <activity
            android:name=".MapaItinerarioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginAlumnoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ItinerariosProfesorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WheelchairSimulation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MeasureEmergencies"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SesionCentroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterProfesorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginProfesorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MeasureStairLift"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MeasureElevator"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MeasureInclination"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MeasureRamp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LuxMeter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MeasureCounter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccessibilityChecker"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <activity
            android:name=".MeasureDoor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LegalInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GuestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterCentroEscolarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginCentroEscolarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>